.home-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.home-container2 {
  display: contents;
}
.home-header {
  width: 100%;
  display: flex;
  max-width: 100%;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
  background-image: linear-gradient(to right, #bdc3c7 0%, #2c3e50 100%);
}
.home-image {
  height: 2rem;
}
.home-container3 {
  flex: 1;
  width: 100%;
  display: flex;
  position: relative;
  align-items: flex-start;
  justify-content: flex-start;
}
.home-recent-container {
  flex: none;
  width: 20%;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
.home-text01 {
  font-size: 25px;
  margin-top: var(--dl-space-space-twounits);
  margin-left: var(--dl-space-space-oneandhalfunits);
}
.home-recent-items-list {
  overflow: hidden;
  max-height: 75vh;
  overflow-y: scroll;
}
.home-li {
  margin-top: var(--dl-space-space-halfunit);
  margin-left: var(--dl-space-space-halfunit);
}
.home-li01 {
  margin-top: var(--dl-space-space-halfunit);
  margin-left: var(--dl-space-space-halfunit);
}
.home-li02 {
  margin-top: var(--dl-space-space-halfunit);
  margin-left: var(--dl-space-space-halfunit);
}
.home-li03 {
  margin-top: var(--dl-space-space-halfunit);
  margin-left: var(--dl-space-space-halfunit);
}
.home-li04 {
  margin-top: var(--dl-space-space-halfunit);
  margin-left: var(--dl-space-space-halfunit);
}
.home-li05 {
  margin-top: var(--dl-space-space-halfunit);
  margin-left: var(--dl-space-space-halfunit);
}
.home-li06 {
  margin-top: var(--dl-space-space-halfunit);
  margin-left: var(--dl-space-space-halfunit);
}
.home-li07 {
  margin-top: var(--dl-space-space-halfunit);
  margin-left: var(--dl-space-space-halfunit);
}
.home-li08 {
  margin-top: var(--dl-space-space-halfunit);
  margin-left: var(--dl-space-space-halfunit);
}
.home-li09 {
  margin-top: var(--dl-space-space-halfunit);
  margin-left: var(--dl-space-space-halfunit);
}
.home-li10 {
  margin-top: var(--dl-space-space-halfunit);
  margin-left: var(--dl-space-space-halfunit);
}
.home-li11 {
  margin-top: var(--dl-space-space-halfunit);
  margin-left: var(--dl-space-space-halfunit);
}
.home-li12 {
  margin-top: var(--dl-space-space-halfunit);
  margin-left: var(--dl-space-space-halfunit);
}
.home-li13 {
  margin-top: var(--dl-space-space-halfunit);
  margin-left: var(--dl-space-space-halfunit);
}
.home-li14 {
  margin-top: var(--dl-space-space-halfunit);
  margin-left: var(--dl-space-space-halfunit);
}
.home-li15 {
  margin-top: var(--dl-space-space-halfunit);
  margin-left: var(--dl-space-space-halfunit);
}
.home-li16 {
  margin-top: var(--dl-space-space-halfunit);
  margin-left: var(--dl-space-space-halfunit);
}
.home-li17 {
  margin-top: var(--dl-space-space-halfunit);
  margin-left: var(--dl-space-space-halfunit);
}
.home-li18 {
  margin-top: var(--dl-space-space-halfunit);
  margin-left: var(--dl-space-space-halfunit);
}
.home-li19 {
  margin-top: var(--dl-space-space-halfunit);
  margin-left: var(--dl-space-space-halfunit);
}
.home-li20 {
  margin-top: var(--dl-space-space-halfunit);
  margin-left: var(--dl-space-space-halfunit);
}
.home-li21 {
  margin-top: var(--dl-space-space-halfunit);
  margin-left: var(--dl-space-space-halfunit);
}
.home-li22 {
  margin-top: var(--dl-space-space-halfunit);
  margin-left: var(--dl-space-space-halfunit);
}
.home-li23 {
  margin-top: var(--dl-space-space-halfunit);
  margin-left: var(--dl-space-space-halfunit);
}
.home-li24 {
  margin-top: var(--dl-space-space-halfunit);
  margin-left: var(--dl-space-space-halfunit);
}
.home-li25 {
  margin-top: var(--dl-space-space-halfunit);
  margin-left: var(--dl-space-space-halfunit);
}
.home-li26 {
  margin-top: var(--dl-space-space-halfunit);
  margin-left: var(--dl-space-space-halfunit);
}
.home-li27 {
  margin-top: var(--dl-space-space-halfunit);
  margin-left: var(--dl-space-space-halfunit);
}
.home-li28 {
  margin-top: var(--dl-space-space-halfunit);
  margin-left: var(--dl-space-space-halfunit);
}
.home-li29 {
  margin-top: var(--dl-space-space-halfunit);
  margin-left: var(--dl-space-space-halfunit);
}
.home-li30 {
  margin-top: var(--dl-space-space-halfunit);
  margin-left: var(--dl-space-space-halfunit);
}
.home-li31 {
  margin-top: var(--dl-space-space-halfunit);
  margin-left: var(--dl-space-space-halfunit);
}
.home-li32 {
  margin-top: var(--dl-space-space-halfunit);
  margin-left: var(--dl-space-space-halfunit);
}
.home-li33 {
  margin-top: var(--dl-space-space-halfunit);
  margin-left: var(--dl-space-space-halfunit);
}
.home-li34 {
  margin-top: var(--dl-space-space-halfunit);
  margin-left: var(--dl-space-space-halfunit);
}
.home-li35 {
  margin-top: var(--dl-space-space-halfunit);
  margin-left: var(--dl-space-space-halfunit);
}
.home-song-container {
  flex: 1;
  width: 80%;
  height: fit-content;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-search-bar {
  width: 94%;
  margin-top: var(--dl-space-space-twounits);
  margin-left: var(--dl-space-space-twounits);
  margin-right: var(--dl-space-space-twounits);
  margin-bottom: var(--dl-space-space-unit);
}
.home-songs-container {
  width: 100%;
  height: 74vh;
  display: grid;
  overflow: hidden;
  align-self: flex-start;
  overflow-y: scroll;
  align-items: flex-start;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.home-song {
  flex: 0 0 auto;
  width: fit-content;
  display: inline-flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.home-song-thumbnail {
  width: 200px;
  height: 138px;
  margin-top: var(--dl-space-space-twounits);
  object-fit: cover;
  margin-left: var(--dl-space-space-twounits);
  margin-right: var(--dl-space-space-twounits);
  margin-bottom: var(--dl-space-space-unit);
}
.home-song01 {
  flex: 0 0 auto;
  width: fit-content;
  display: inline-flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.home-song-thumbnail01 {
  width: 200px;
  height: 138px;
  margin-top: var(--dl-space-space-twounits);
  object-fit: cover;
  margin-left: var(--dl-space-space-twounits);
  margin-right: var(--dl-space-space-twounits);
  margin-bottom: var(--dl-space-space-unit);
}
.home-song02 {
  flex: 0 0 auto;
  width: fit-content;
  display: inline-flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.home-song-thumbnail02 {
  width: 200px;
  height: 138px;
  margin-top: var(--dl-space-space-twounits);
  object-fit: cover;
  margin-left: var(--dl-space-space-twounits);
  margin-right: var(--dl-space-space-twounits);
  margin-bottom: var(--dl-space-space-unit);
}
.home-song03 {
  flex: 0 0 auto;
  width: fit-content;
  display: inline-flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.home-song-thumbnail03 {
  width: 200px;
  height: 138px;
  margin-top: var(--dl-space-space-twounits);
  object-fit: cover;
  margin-left: var(--dl-space-space-twounits);
  margin-right: var(--dl-space-space-twounits);
  margin-bottom: var(--dl-space-space-unit);
}
.home-song04 {
  flex: 0 0 auto;
  width: fit-content;
  display: inline-flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.home-song-thumbnail04 {
  width: 200px;
  height: 138px;
  margin-top: var(--dl-space-space-twounits);
  object-fit: cover;
  margin-left: var(--dl-space-space-twounits);
  margin-right: var(--dl-space-space-twounits);
  margin-bottom: var(--dl-space-space-unit);
}
.home-song05 {
  flex: 0 0 auto;
  width: fit-content;
  display: inline-flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.home-song-thumbnail05 {
  width: 200px;
  height: 138px;
  margin-top: var(--dl-space-space-twounits);
  object-fit: cover;
  margin-left: var(--dl-space-space-twounits);
  margin-right: var(--dl-space-space-twounits);
  margin-bottom: var(--dl-space-space-unit);
}
.home-song06 {
  flex: 0 0 auto;
  width: fit-content;
  display: inline-flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.home-song-thumbnail06 {
  width: 200px;
  height: 138px;
  margin-top: var(--dl-space-space-twounits);
  object-fit: cover;
  margin-left: var(--dl-space-space-twounits);
  margin-right: var(--dl-space-space-twounits);
  margin-bottom: var(--dl-space-space-unit);
}
.home-song07 {
  flex: 0 0 auto;
  width: fit-content;
  display: inline-flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.home-song-thumbnail07 {
  width: 200px;
  height: 138px;
  margin-top: var(--dl-space-space-twounits);
  object-fit: cover;
  margin-left: var(--dl-space-space-twounits);
  margin-right: var(--dl-space-space-twounits);
  margin-bottom: var(--dl-space-space-unit);
}
.home-song08 {
  flex: 0 0 auto;
  width: fit-content;
  display: inline-flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.home-song-thumbnail08 {
  width: 200px;
  height: 138px;
  margin-top: var(--dl-space-space-twounits);
  object-fit: cover;
  margin-left: var(--dl-space-space-twounits);
  margin-right: var(--dl-space-space-twounits);
  margin-bottom: var(--dl-space-space-unit);
}
.home-song09 {
  flex: 0 0 auto;
  width: fit-content;
  display: inline-flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.home-song-thumbnail09 {
  width: 200px;
  height: 138px;
  margin-top: var(--dl-space-space-twounits);
  object-fit: cover;
  margin-left: var(--dl-space-space-twounits);
  margin-right: var(--dl-space-space-twounits);
  margin-bottom: var(--dl-space-space-unit);
}
.home-song10 {
  flex: 0 0 auto;
  width: fit-content;
  display: inline-flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.home-song-thumbnail10 {
  width: 200px;
  height: 138px;
  margin-top: var(--dl-space-space-twounits);
  object-fit: cover;
  margin-left: var(--dl-space-space-twounits);
  margin-right: var(--dl-space-space-twounits);
  margin-bottom: var(--dl-space-space-unit);
}
.home-song11 {
  flex: 0 0 auto;
  width: fit-content;
  display: inline-flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.home-song-thumbnail11 {
  width: 200px;
  height: 138px;
  margin-top: var(--dl-space-space-twounits);
  object-fit: cover;
  margin-left: var(--dl-space-space-twounits);
  margin-right: var(--dl-space-space-twounits);
  margin-bottom: var(--dl-space-space-unit);
}
@media(max-width: 767px) {
  .home-header {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
}
@media(max-width: 479px) {
  .home-header {
    padding: var(--dl-space-space-unit);
  }
}
